/* Common shared styles */
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
border: 0;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    color: #FFF;
    font-size: 25px;
    border: 0;
}
/* nav related styles */
.text-primary{
   color:  #E55473;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    background-color:papayawhip;
    
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    

}
nav a{
    text-decoration: none;
    color: #272727;
}
/* header realeted styles */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    gap: 200px;
    align-items: center;
}
.banner-description{
    text-align: center;
}
.banner-pic{
    width: 500px;
} 
.banner-title{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
    color: #272727;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Style of featured flower section */
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;

}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.flower-pic{
    
    display:inline-flex;
    justify-content: baseline;
    
    gap: 50px;
}
.pic-6{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.pic-5{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
    
}
.pic-7{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
/* styles of hot deal section */
.hot-deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    text-align: center;
    padding: 100px 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.hotdeal-pic{
    width: 320px;
}
/* style of instagram section */
.instagram{
    margin: auto;
}
.insta-content{
    text-align: center;
}
.insta-pic{
    width: 200px;
    display: flex;
    gap: 20px;
    align-items: center;
} 
    
/* Latest deal section */
.latest-deal{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background: url('../images/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: 1440px;
    height: 440px;
    align-items: center;
    
}
.section-title{
    margin-top: 120px;
    text-align: center;
}
.section-description{
    margin-bottom: 120px;
}
.email-box{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
}
/* footer section styles */
.end-section{
    background: #111010;
    width: 1920px;
    height: 450px;
    text-align: center;
    margin-top: 0;
}
 .footer-title{
    margin-top: 150px;
    padding: 100px 700px 00px 25px;
 }
       
.footer-description{
    display: flex;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    justify-content: center;
    
 }
    
    
}
}
.footer-content{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
     font-size: 16px;
    font-weight: 400;
    margin-top: 0;

}
    
