/* Common shared styles */
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
border: 0;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    color: #FFF;
    font-size: 25px;
    border: 0;
}
/* nav related styles */
.text-primary{
   color:  #E55473;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    

}
nav a{
    text-decoration: none;
    color: #272727;
}
/* header realeted styles */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
}
.banner-pic{
    width: 500px;
}